/* ===========================
   Reset & Base
=========================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #1a1a1a;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2.5rem;
  font-family: "Zen Old Mincho", serif;
}

h2 {
  font-size: 7rem;
  font-family: "Zen Old Mincho", serif;
  color: rgba(255, 255, 255, 0.75);
}

h3 {
  margin-bottom: 10px;

  font-size: 2rem;
  font-family: "Zen Old Mincho", serif;
}

h4 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-family: "Shippori Mincho", serif;
  font-weight: 600;
}

button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}

/* ===========================
   Layout
=========================== */
.inner {
  max-width: 1100px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 46px;
}

.header-contents ul {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 20px;
  font-family: "Zen Old Mincho", serif;
}

.header-contents li {
  font-size: 0.9rem;
}

.fv-inner {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100dvh;
  background-color: #b8c3d6;
  position: relative;
}

.fv-contents {
  padding-top: 150px;
}

.fv-message {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 30px;
}

.fv-message p {
  font-size: 1.5rem;
  font-family: "Shippori Mincho", serif;
}

.scroll-indicator {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9rem;
}

.scroll-indicator::after {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  background: #000;
  margin: 30px auto 0;
  animation: scroll-line 5s infinite;
}

@keyframes scroll-line {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }

  50% {
    transform: scaleY(1);
    transform-origin: top;
  }

  100% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
}

.works-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 85px;
  padding: 120px 0;
}

.works-img {
  width: 700px;
  height: 500px;
  overflow: hidden;
  flex-shrink: 0;
  border: 1px solid #b9b9b9;
}

.works-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.works-note {
  font-size: 0.9rem;
}

.works-category {
  color: #6e6e6e;
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.works-role {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 25px 0;
  width: 350px;
}

.works-role span {
  display: inline-block;
  padding: 7px 24px;
  border-radius: 999px;
  background: #fff;
  border: 1px solid #1a1a1a;
  font-size: 0.9rem;
  line-height: 1;
  white-space: nowrap;
}

.about {
  text-align: center;
  padding: 150px 0;
  line-height: 40px;
}

.about-link {
  margin: 30px 0;
}

.about-page-inner {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 220px;
  margin-bottom: 150px;
}

.about-page-contents {
  font-size: 1.2rem;
  line-height: 40px;
}

.about-page-contents p {
  margin-bottom: 20px;
}

.contact {
  text-align: center;
  background-image: url("../img/backgroundimg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 10px;
}

.contact-txt {
  margin-bottom: 20px;
}

.contact-btn {
  display: inline-block;
  text-align: center;
  padding: 20px 100px;
  border-radius: 999px;
  background: #fff;
  color: #000866;
  border: 1px solid #1a1a1a;
  font-size: 0.9rem;
  line-height: 1;
  white-space: nowrap;
}

/*
.email-copy {
  display: inline-block;
  cursor: pointer;
}

/* 初期表示 
.email-copy__copy,
.email-copy__copied {
  display: none;
}

/* ホバー時
.email-copy:hover .email-copy__email {
  display: none;
}
.email-copy:hover .email-copy__copy {
  display: inline;
}
.email-copy:hover .email-copy__copied {
  display: none;
}

/* クリック後 
.email-copy.is-copied .email-copy__email {
  display: none;
}
.email-copy.is-copied .email-copy__copy {
  display: none;
}
.email-copy.is-copied .email-copy__copied {
  display: inline;
}
*/

.contact-btn:hover {
  background: #000866;
  color: #fff;
}

.footer-copy {
  font-size: 0.7rem;
  margin-top: 130px;
}

.to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background: rgba(185, 199, 233, 0.9);

  color: #fff;
  cursor: pointer;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition:
    opacity 0.7s ease,
    transform 0.7s ease,
    visibility 0.7s,
    background-color 0.7s ease;
}

.to-top.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.to-top:hover {
  transform: translateY(-2px);
  background: #000866;
}

/* ===========================
   Responsive
=========================== */
@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    /* display: none;*/
    font-size: 2.5rem;
    text-align: center;
  }

  .fv-message {
    flex-direction: column;
  }

  .fv-message p {
    margin: 0 auto;
    font-size: 1rem;
    padding: 50px 0;
  }

  .works-contents {
    flex-direction: column;
    margin: 0 10px;
    gap: 20px;
    padding: 70px 0;
  }

  .works-img {
    width: 100%;
    height: auto;
  }

  .works-txt p {
    font-size: 0.8rem;
  }

  .works-role span {
    font-size: 0.8rem;
  }

  .about-page-inner {
    margin-top: 120px;
    margin-bottom: 50px;
    padding: 0 20px;
  }

  .about-page-contents {
    font-size: 0.9rem;
    line-height: 27px;
  }

  .contact-txt {
    font-size: 0.9rem;
  }
}
