.inner {
  max-width: 1000px;
  margin: 0 auto;
}

.reveal {
  opacity: 0;
  transition: 0.6s ease;
}

.fade-up {
  transform: translateY(20px);
}

.fade-up.is-active {
  opacity: 1;
  transform: translateY(0);
}

.opacity {
  opacity: 0;
  transition-delay: 0.3s;
}

.opacity.is-active {
  opacity: 1;
}

.work-fv {
  max-width: 1200px;
  margin: 0 auto;
}

.work-fv-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.work-fv-img {
  width: 900px;
  margin: 120px 0;
  overflow: hidden;
  border: 48px solid #eeeeee;
  background: #fff;
}

.work-fv-img img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

.cta {
  text-align: center;
  transition-delay: 0.5s;
  margin: 100px 0;
}

.work-article h2 {
  font-size: 2.3rem;
  font-weight: 400;
}

.work-article-overview {
  font-size: 1.2rem;
  padding: 60px 0;
  line-height: 40px;
  letter-spacing: 10%;
}

.work-article-txt {
  padding-bottom: 50px;
  line-height: 35px;
}

.work-article-txt h3 {
  margin-bottom: 10px;
}

.work-article-tags {
  padding: 90px 0;
}

.work-article-tags p {
  color: #979797;
}

.work-article-tag {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 25px 0;
  width: 350px;
}

.work-article-tag span {
  display: inline-block;
  padding: 7px 24px;
  border-radius: 999px;
  background: #fff;
  border: 1px solid #1a1a1a;
  font-size: 0.9rem;
  line-height: 1;
  white-space: nowrap;
}

/* === gallery === */
.work-preview-gallery-pc {
  padding-bottom: 50px;
}

.work-preview-gallery-sp {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 56px;
}

.work-preview-gallery-img {
  width: 300px;
}

.work-preview-gallery-img img {
  width: 100%;
  height: auto;
}

/* === browser === */
.work-preview-inner {
  max-width: 1200px;
  margin: 0 auto;
}

.work-preview-browser {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.work-preview-browser-sp {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.work-preview-browser-item {
  height: 800px;
  overflow-y: auto;
}

.work-preview-browser-img {
  width: 370px;
  overflow-y: auto;
}

.work-preview-browser-img img {
  width: 100%;
  height: auto;
}

.work-more-works-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
}

.work-more-works {
  margin-top: 200px;
  margin-bottom: 110px;
}

.work-more-works h2 {
  text-align: center;
  margin: 52px 0;
  font-size: 2.3rem;
  font-weight: 400;
}

.work-more-works-link {
  width: 400px;
}

.work-more-works-link img {
  display: block;
  width: 100%;
  height: auto;
}

/* ===========================
   Responsive
=========================== */
@media (max-width: 768px) {
  h1 {
    font-size: 1rem;
  }

  .header-contents {
    max-width: 400px;
    gap: 50px;
    margin-top: 10px;
  }

  h2 {
    text-align: center;
  }

  h3 {
    font-size: 1rem;
  }

  .inner {
    padding: 0 20px;
  }

  .work-fv-contents {
    flex-direction: column;
    gap: 0px;
  }

  .work-fv-img {
    width: 100%;
    height: auto;
    margin: 0 0;
    margin-top: 150px;
    border: 24px solid #eeeeee;
  }

  .work-article-overview {
    font-size: 1rem;
  }

  .work-article-txt p {
    font-size: 0.9rem;
  }

  .work-article-tags {
    padding: 45px 0;
  }

  .work-article-tags p {
    font-size: 0.8rem;
  }

  .work-article-tag {
    padding-top: 10px;
    padding-bottom: 30px;
  }

  .work-article-tag span {
    font-size: 0.8rem;
  }

  .work-preview-gallery-pc {
    padding: 50px 0;
  }

  .work-preview-gallery-sp {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: auto;
  }

  .work-preview-gallery-img {
    width: min(100%, 400px);
  }

  .work-preview-gallery-img img {
    display: block;
    width: 100%;
    height: auto;
  }

  .work-preview-browser {
    margin: 60px 0;
  }
  .work-preview-browser-pc {
    padding: 0 20px;
  }
  .work-preview-browser-sp {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 0 40px;
    margin-bottom: 40px;
  }
  .work-preview-browser-item {
    overflow-y: visible;
    height: auto;
  }

  .cta {
    margin: 100px 0;
  }

  .work-more-works {
    margin-top: 150px;
    margin-bottom: 120px;
  }

  .work-more-works-links {
    flex-direction: column;
    gap: 10px;
  }

  .work-more-works-link {
    width: 100%;
    margin: 0 20px;
  }

  .work-more-works-link img {
    display: block;
    width: 100%;
    height: auto;
  }

  .contact {
    padding-top: 40px;
  }

  .contact-inner {
    max-width: 300px;
    padding: 60px 24px;
  }

  .contact-btn {
    padding: 0 0;
  }

  .contact-btn::before {
    display: none;
  }

  .contact-btn::after {
    display: none;
  }

  .contact-txt {
    font-size: 0.9rem;
  }
}
